@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(21, 21, 21);
    color: white;
    font-size: 20px;
}
div.header{
    text-align: center;
}
div.list-gen{
    margin: 0;
}
div.list{
    width: 100%;
    border: none;
    background-color: rgb(30, 30, 30);
}
div.list-2{
    width: 100%;
    border: none;
    background-color: rgb(50, 50, 50);
}
div.list-contener{
    margin: 20px 20px 200px 20px;
}
input[type='text'].style1{
    padding: 15px 20px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    border: none;
    background-color: rgb(60, 60, 60);
    color: white;
}
button.style1{
    padding: 15px 20px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    border: none;
    background-color: rgb(40, 40, 40);
    color: white;
}
button.cancel{
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.774);
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 5px;
}
button{
    outline: none;
}
input{
    outline: none;
}
.footer-1 .footer-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}